<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Details</title>

</head>
<body>
    <h2 style="text-align: center;">Order Details</h2>

    <form action="//" method="post">
        
        Customer Name:
        <input type="text" name="name"><br><br>
        Order Details:
        <br><textarea rows="10" cols="100" name="details">Enter order details</textarea><br><br>
        Shop Name:
        <input type="text" name="phoneno"><br><br>
        Phone Number:
        <input type="text" name="phoneno"><br><br>
        E-mail:
        <input type="number" name="cus_email"><br><br>
        <input type="submit" value="Submit" />
    </form>

</body>
</html>